.section_container {
  margin: 60px auto 0;
  max-width: 1024px;
  padding: 0 60px;
  box-sizing: border-box;
  height: 650px;
  position: relative;
  font-family: 'Nunito', sans-serif;
  display: flex;

  .section_text {
    // position: absolute;
    height: max-content;
    max-width: 527px;
    margin: auto 0 auto 60px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    color: rgba(0, 0, 0, 0.87);

    h1 {
      max-width: 670px !important;
      font-weight: 400;
      font-size: 40px;
      line-height: 40px;
      margin: 0;
    }

    p {
      font-size: 16px;
      line-height: 26px;
      font-style: normal;
      font-weight: 400;
      margin: 21px 0 32px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .section_container {
    padding: 0 32px;
    height: 500px;

    .section_text {
      max-width: 424px;
    }
  }
}
@media only screen and (max-width: 360px) {
  .section_container {
    padding: 0 16px;
    height: 469px;

    .section_text {
      max-width: 240px;
    }
  }
}
