.section_container {
  position: relative;
  display: flex;
  max-width: 1024px;
  height: 650px;
  margin: 60px auto 0;
  padding: 0 60px;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;

  .section_text {
    max-width: 527px;
    height: max-content;
    margin: auto 0;
    color: rgba(0, 0, 0, 0.87);

    h1 {
      max-width: 670px !important;
      margin: 0;
      line-height: 40px;
      font-size: 40px;
      font-weight: 400;
    }

    p {
      margin: 21px 0 32px;
      line-height: 26px;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
    }
  }
}
@media only screen and (max-width: 768px) {
  .section_container {
    height: 500px;
    padding: 0 32px;

    .section_text {
      max-width: 424px;
    }
  }
}
@media only screen and (max-width: 360px) {
  .section_container {
    height: 469px;
    padding: 0 16px;

    .section_text {
      max-width: 240px;
    }
  }
}
