.registration_container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 87.5px 60px 100px;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Nunito', sans-serif;

  h1 {
    margin: 0;
    line-height: 40px;
    font-size: 40px;
    font-weight: 400;
  }

  h2 {
    margin: 10px 0 32px;
    line-height: 28px;
    font-size: 22px;
    font-weight: 400;
  }

  .registration_section {
    width: 380px;
    margin: auto;
    padding: 0 25px;

    .input_container {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: auto;

      .input_item {
        position: relative;
        margin: 0 0 50px;
        transition: all 0.3s ease;

        input[type=text] {
          width: -webkit-fill-available;
          height: 26px;
          padding: 13px 16px;
          border: 1px solid #D0CFCF;
          border-radius: 4px;
          outline: none;
          background: #F8F8F8;
          font-size: 16px;

          &::placeholder {
            color: #F8F8F8;
          }
        }

        input[type=text]:focus {
          border: 1px solid #00BDD3;
        }

        label {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 10px;
          z-index: 2;
          height: fit-content;
          margin: auto 0;
          padding: 0 4px;
          background: #f8f8f8;
          color: #D0CFCF;
          font-size: 16px;
          font-weight: 400;
          cursor: text;
          transition: all 0.3s ease;
        }

        input[type=text]:focus + label {
          top: -54px;
          color: #00BDD3 !important;
          font-size: 12px;
        }

        input[type=text]:not(:placeholder-shown) + label {
          top: -54px !important;
          color: #D0CFCF;
          font-size: 12px;
        }

        &:last-child {
          margin: 0;
        }

        .input_error {
          position: absolute;
          bottom: -20px;
          left: 15px;
          color: red;
          font-size: 12px;
        }

        span + input[type=text] {
          border-color: red !important;
        }

        span + input[type=text]:not(:placeholder-shown) + label {
          color: red !important;
        }
      }
    }

    .radio_container {
      width: 100%;
      text-align: left;

      p {
        margin: 43px 0 11px;
      }
    }
  }

  button {
    margin: 50px 0;
  }
}

.modal {
  .modal_container {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: calc(100% - 32px);
    max-width: 452px;
    height: 194px;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;
    background-color: #fff;
    transform: translate(-50%, -50%);

    h1 {
      font-size: 22px;
    }

    p {
      margin: 0;
      font-size: 16px;
    }

    button {
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 0 24px 24px 0;
    }

    a {
      display: block;
      margin: 0 -13px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    display: block;
    width: 100%;
    height: 100%;
    margin: -60px 0 0;
    padding: 59px 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
//===========================================================
$blue: #00BDD3;

.im_buttons {
  display: flex;
  flex-direction: column;

  label {
    display: inline-block;
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;

    span {
      display: inline-block;
    }
  }
}

.radio {
  display: inline-block;
  margin: 4px 0;
  cursor: pointer;

  input {
    display: none;

    &.button + span:after {
      border: #D0CFCF 1px solid;
    }

    & + span {
      position: relative;
      height: 22px;
      line-height: 22px;
      padding-left: 22px;

      &:not(:empty) {
        padding-left: 20px + 12px;
      }

      &:after,
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
      }

      &:before {
        transition: background 0.2s ease, transform 0.3s cubic-bezier(.175, .885, .32, 2);
      }

      &.button:before {
        background: $blue;
      }

      &:after {
        transition: transform 0.2s cubic-bezier(0, 1.43, 1, 1);
        transform: scale(1);
      }
    }

    &:checked + span {
      &:before {
        transform: scale(1.04);
      }

      &:after {
        transition: transform 0.3s ease;
        transform: scale(.5);
      }
    }

    &.button:checked + span {
      &:before {
        border: 1px solid $blue;
      }

      &:after {
        background: $blue;
      }
    }
  }

  &:hover {
    input {
      & + span {
        &:before {
          transform: scale(.99);
        }

        &:after {
          transform: scale(.9);
        }
      }

      &:checked + span {
        &:after {
          transform: scale(.44);
        }
      }
    }
  }
}

.file_container {
  position: relative;
  height: 26px;
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start;
  align-items: center;
  margin: 48px 0 0 0 !important;
  padding: 13px 0;
  border: #D0CFCF 1px solid;
  border-left: none;
  border-radius: 4px;
  background: #F8F8F8;
  transition: 0.2s ease;

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.87);
    border-left: none;
  }

  .input_file {
    position: absolute;
    right: 0;
    width: 82px;
    border: 1px solid #333;
    opacity: 0;
    color: #777;
    background: #ccc;
  }

  .input_file_label {
    height: 26px;
    padding: 13px 13px 13px 15px;
    border: 1px solid rgba(0, 0, 0, 0.87);
    border-radius: 4px 0 0 4px;
    cursor: pointer;
  }

  .span_text {
    width: 100%;
    padding: 14px 16px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #7E7E7E;
  }

  .input_error {
    position: absolute;
    bottom: -20px;
    left: 15px;
    color: #CB3D40;
    font-size: 12px;
  }
}

.fileNameChanged {
  color: rgba(0, 0, 0, 0.87) !important;
}
@media only screen and (max-width: 768px) {
  .registration_container {
    padding: 87.5px 32px 100px;

    .registration_section {
      width: auto;
      max-width: 380px;
      padding: 0;
    }
  }
}
