.footer_container {
  padding: 16px;

  p {
    margin: auto;
    padding: 0;
    line-height: 26px;
    text-align: center;
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
  }
}
