.footer_container {
  padding: 16px;

  p {
    padding: 0;
    margin: auto;
    text-align: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
}
